/*  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    background-color: #f7f5f1;
}

.bg-primary {
    background-color: #f8f5f2;
}
.mx-2 {
    margin: 0 2rem;
}

.px-2 {
    padding: 0 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 1rem;
}
ul {
    list-style: none;
}

.navbar a {
    color: black;
    padding: 0.45rem;
    margin: 0 0.25rem;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin: 0 1rem;
}

/* .navbar a:hover {
    color: rgb(223, 86, 86);
} */

a {
    text-decoration: none;
}
.container {
    max-width: 1300px;
    display: block;
    margin: 0 auto;
}
.product {
    /* border: 1px solid black; */
    display: flex;
    padding: 1rem;
    gap: 2rem;
    background-color: #efeae5;
    /* border-radius: 5px;
    box-shadow: 0px 0px 16px 3px #aea9a977; */
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.content-between {
    justify-content: space-between;
}

.content-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.gap-4 {
    gap: 4rem;
}

.gap-2 {
    gap: 2rem;
}

.btn-primary {
    /* background-color: rgb(255, 98, 41); */
    background-color: #89744c;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 2px;
}
.primary-orange {
    background-color: rgb(255, 98, 41);
}

.btn-primary:hover {
    /* background-color: rgb(254, 72, 6); */
    background-color: #876d3d;
    color: white;
}
.btn-primary:active {
    /* box-shadow: 0px 0px 8px 2px #f48b3a; */
    box-shadow: 0px 0px 8px 2px #89744c;
}

@media screen and (min-width: 700px) {
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
